<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.goods.mapper.BrandMapper">
    <resultMap type="com.example.goods.domain.BrandPo" id="BrandPo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="picUrl" column="pic_url"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>
    <update id="deleteBrandById" parameterType="integer">
        update oomall_brand
        set is_deleted=1
        where id=#{id}
    </update>
    <select id="listBrandByCondition" resultMap="BrandPo">
        select id,
        name,
        description,
        pic_url,
        gmt_create,
        gmt_modified
        from oomall_brand
        where
        <if test="id!=null">
            id=#{id} and
        </if>
        <if test="name!=null">
            name=#{name} and
        </if>
        is_deleted=0
    </select>
    <select id="listBrand" resultMap="BrandPo">
        select id,
        name,
        description,
        pic_url,
        gmt_create,
        gmt_modified,
        is_deleted
        from oomall_brand
        where is_deleted=0
    </select>
    <select id="getBrandPoById" parameterType="integer" resultMap="BrandPo">
        select id,
               name,
               description,
               pic_url,
               gmt_create,
               gmt_modified
               from oomall_brand where id=#{id} and is_deleted=0
    </select>
    <insert id="addBrand" useGeneratedKeys="true" keyProperty="id">
        insert into oomall_brand (name,description,pic_url,gmt_create,gmt_modified,is_deleted)
        values (#{name},#{description},#{picUrl},current_timestamp ,current_timestamp,0)
    </insert>
    <update id="updateBrandById" parameterType="com.example.goods.domain.BrandPo">
        update oomall_brand
        set    name=#{name},
               description=#{description},
               pic_url=#{picUrl},
               gmt_modified=current_timestamp
               where id=#{id}
    </update>

</mapper>