<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.goods.mapper.GoodsMapper">
    <select id="getGoodsById" parameterType="integer" resultType="com.example.goods.domain.Goods">
        select  id,
                gmt_create,
                gmt_modified,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                is_deleted,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from goods where id=#{id} and is_deleted=0
    </select>
    <select id="getCategoriesInfoById" parameterType="integer" resultType="com.example.goods.domain.Goods">
        select  id,
                gmt_create,
                gmt_modified,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                is_deleted,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from goods where goods_category_id=#{id}
    </select>
    <select id="listGoods" resultType="com.example.goods.domain.Goods">
        select  id,
                gmt_create,
                gmt_modified,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                is_deleted,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from goods
                where
                <if test="goodsSn!=null">
                        goods_sn=#{goodsSn} and
                </if>
                <if test="name!=null">
                        name=#{name} and
                </if>
                is_deleted=0
    </select>
        <insert id="addGoods" parameterType="com.example.goods.domain.Goods" useGeneratedKeys="true" keyProperty="id">
                insert into goods (gmt_create,gmt_modified,name,goods_sn,short_name,description,brief,pic_url,detail,status,share_url,gallery,goods_category_id,brand_id,is_deleted,weight,volume,special_freight_id,is_special,price)
                values (current_timestamp ,current_timestamp,#{name},#{goodsSn},#{shortName},#{description},#{brief},#{picUrl},#{detail},#{status},#{shareUrl},#{gallery},#{goodsCategoryId},#{brandId},0,#{weight},#{volume},#{specialFreightId},#{beSpecial},#{price})
        </insert>
</mapper>