<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.goods.mapper.GoodsMapper">
    <resultMap type="com.example.goods.domain.GoodsPo" id="GoodsPo">
        <id property="id" column="id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="name" column="name"/>
        <result property="goodsSn" column="goods_sn"/>
        <result property="shortName" column="short_name"/>
        <result property="description" column="description"/>
        <result property="brief" column="brief"/>
        <result property="picUrl" column="pic_url"/>
        <result property="detail" column="detail"/>
        <result property="statusCode" column="status"/>
        <result property="shareUrl" column="share_url"/>
        <result property="gallery" column="gallery"/>
        <result property="goodsCategoryId" column="goods_category_id"/>
        <result property="brandId" column="brand_id"/>
        <result property="weight" column="weight"/>
        <result property="volume" column="volume"/>
        <result property="specialFreightId" column="special_freight_id"/>
        <result property="beSpecial" column="is_special"/>
        <result property="price" column="price"/>
    </resultMap>
    <select id="getGoodsById" parameterType="integer" resultMap="GoodsPo">
        select  id,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from oomall_goods where id=#{id} and is_deleted=0
    </select>
        <select id="userGetGoodsById" parameterType="integer" resultMap="GoodsPo">
        select  id,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from oomall_goods where id=#{id} and is_deleted=0 and status!=0
    </select>
    <select id="getCategoriesInfoById" parameterType="integer" resultMap="GoodsPo">
        select  id,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from oomall_goods where goods_category_id=#{id} and is_deleted=0 and status!=0
    </select>
    <select id="adminGetCategoriesInfoById" parameterType="integer" resultMap="GoodsPo">
        select  id,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from oomall_goods where goods_category_id=#{id} and is_deleted=0
    </select>
    <select id="listGoods" resultMap="GoodsPo">
        select  id,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from oomall_goods
                where
                name=#{name} and
                is_deleted=0 and status!=0
    </select>
        <select id="adminListGoods" resultMap="GoodsPo">
                select  id,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from oomall_goods
                where
                <if test="name!=null">
                        name=#{name} and
                </if>
                <if test="goodsSn!=null">
                        goods_sn=#{goodsSn} and
                </if>
                is_deleted=0
        </select>
    <sql id="key">
        <trim suffixOverrides=",">
            <if test="gmtCreate!=null and gmtCreate!=''">
                gmt_create,
            </if>
            <if test="gmtModified!=null and gmtModified!=''">
                gmt_modified,
            </if>
            <if test="name!=null and name!=''">
                name,
            </if>
            <if test="goodsSn!=null and goodsSn!=''">
                goods_sn,
            </if>
            <if test="shortName!=null and shortName!=''">
                short_name,
            </if>
            <if test="description!=null and description!=''">
                description,
            </if>
            <if test="brief!=null and brief!=''">
                brief,
            </if>
            <if test="picUrl!=null and picUrl!=''">
                pic_url,
            </if>
            <if test="detail!=null and detail!=''">
                detail,
            </if>
            <if test="statusCode!=null and statusCode!=''">
                status,
            </if>
            <if test="shareUrl!=null and shareUrl!=''">
                share_url,
            </if>
            <if test="gallery!=null and gallery!=''">
                gallery,
            </if>
            <if test="goodsCategoryId!=null and goodsCategoryId!=''">
                goods_category_id,
            </if>
            <if test="brandId!=null and brandId!=''">
                brand_id,
            </if>
            <if test="beDeleted!=null and beDeleted!=''">
                is_deleted,
            </if>
            <if test="weight!=null and weight!=''">
                weight,
            </if>
            <if test="volume!=null and volume!=''">
                volume,
            </if>
            <if test="specialFreightId!=null and specialFreightId!=''">
                special_freight_id,
            </if>
            <if test="beSpecial!=null and beSpecial!=''">
                is_special,
            </if>
            <if test="price!=null and price!=''">
                price
            </if>
        </trim>
    </sql>
    <sql id="values">
        <trim suffixOverrides=",">
            <if test="gmtCreate!=null and gmtCreate!=''">
                current_timestamp,
            </if>
            <if test="gmtModified!=null and gmtModified!=''">
                current_timestamp,
            </if>
            <if test="name!=null and name!=''">
                #{name},
            </if>
            <if test="goodsSn!=null and goodsSn!=''">
                #{goodsSn},
            </if>
            <if test="shortName!=null and shortName!=''">
                #{shortName},
            </if>
            <if test="description!=null and description!=''">
                #{description},
            </if>
            <if test="brief!=null and brief!=''">
                #{brief},
            </if>
            <if test="picUrl!=null and picUrl!=''">
                #{picUrl},
            </if>
            <if test="detail!=null and detail!=''">
                #{detail},
            </if>
            <if test="statusCode!=null and statusCode!=''">
                0,
            </if>
            <if test="shareUrl!=null and shareUrl!=''">
                #{shareUrl},
            </if>
            <if test="gallery!=null and gallery!=''">
                #{gallery},
            </if>
            <if test="goodsCategoryId!=null and goodsCategoryId!=''">
                #{goodsCategoryId},
            </if>
            <if test="brandId!=null and brandId!=''">
                #{brandId},
            </if>
            <if test="beDeleted!=null and beDeleted!=''">
                0,
            </if>
            <if test="weight!=null and weight!=''">
                #{weight},
            </if>
            <if test="volume!=null and volume!=''">
                #{volume},
            </if>
            <if test="specialFreightId!=null and specialFreightId!=''">
                #{specialFreightId},
            </if>
            <if test="beSpecial!=null and beSpecial!=''">
                #{beSpecial},
            </if>
            <if test="price!=null and price!=''">
                #{price}
            </if>
        </trim>
    </sql>
    <insert id="addGoods" parameterType="com.example.goods.domain.GoodsPo" useGeneratedKeys="true" keyProperty="id">
        insert into oomall_goods(<include refid="key"/>)
        values(<include refid="values"/>)
    </insert>
        <update id="updateGoodsById" parameterType="com.example.goods.domain.GoodsPo">
                update oomall_goods
                set gmt_modified=current_timestamp ,
                name=#{name},
                goods_sn=#{goodsSn},
                short_name=#{shortName},
                description=#{description},
                brief=#{brief},
                pic_url=#{picUrl},
                detail=#{detail},
                status=#{statusCode},
                share_url=#{shareUrl},
                gallery=#{gallery},
                goods_category_id=#{goodsCategoryId},
                brand_id=#{brandId},
                weight=#{weight},
                volume=#{volume},
                special_freight_id=#{specialFreightId},
                is_special=#{beSpecial},
                price=#{price}
                where id=#{id}
        </update>
        <update id="deleteGoodsById" parameterType="integer">
                update oomall_goods
                set is_deleted=1,
                gmt_modified=current_timestamp
                where id=#{id}
        </update>
        <update id="nullBrandGoodsPoList" parameterType="integer">
                update oomall_goods
                set brand_id=0 ,
                    gmt_modified=current_timestamp
                where brand_id=#{id}
        </update>
        <update id="nullCategoryGoodsPoList" parameterType="integer">
                update oomall_goods
                set goods_category_id=0,
                    gmt_modified=current_timestamp
                where goods_category_id=#{id}
        </update>
    <select id="getBrandsInfoById" parameterType="integer" resultMap="GoodsPo">
        select  id,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from oomall_goods where brand_id=#{id} and is_deleted=0
    </select>
    <select id="userGetBrandsInfoById" resultMap="GoodsPo">
        select  id,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from oomall_goods where brand_id=#{id} and is_deleted=0 and status!=0
    </select>
</mapper>