<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.goods.mapper.GoodsMapper">
    <resultMap type="com.example.goods.domain.GoodsPo" id="GoodsPo">
        <id property="id" column="id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="name" column="name"/>
        <result property="goodsSn" column="goods_sn"/>
        <result property="shortName" column="short_name"/>
        <result property="description" column="description"/>
        <result property="brief" column="brief"/>
        <result property="picUrl" column="pic_url"/>
        <result property="detail" column="detail"/>
        <result property="statusCode" column="status"/>
        <result property="shareUrl" column="share_url"/>
        <result property="gallery" column="gallery"/>
        <result property="goodsCategoryId" column="goods_category_id"/>
        <result property="brandId" column="brand_id"/>
        <result property="weight" column="weight"/>
        <result property="volume" column="volume"/>
        <result property="specialFreightId" column="special_freight_id"/>
        <result property="beSpecial" column="is_special"/>
        <result property="price" column="price"/>
    </resultMap>
    <select id="getGoodsById" parameterType="integer" resultMap="GoodsPo">
        select  id,
                gmt_create,
                gmt_modified,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from oomall_goods where id=#{id} and is_deleted=0
    </select>
        <select id="userGetGoodsById" parameterType="integer" resultMap="GoodsPo">
        select  id,
                gmt_create,
                gmt_modified,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from oomall_goods where id=#{id} and is_deleted=0 and status!=0
    </select>
    <select id="getCategoriesInfoById" parameterType="integer" resultMap="GoodsPo">
        select  id,
                gmt_create,
                gmt_modified,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from oomall_goods where goods_category_id=#{id} and is_deleted=0 and status!=0
    </select>
    <select id="adminGetCategoriesInfoById" parameterType="integer" resultMap="GoodsPo">
        select  id,
                gmt_create,
                gmt_modified,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from oomall_goods where goods_category_id=#{id} and is_deleted=0
    </select>
    <select id="listGoods" resultMap="GoodsPo">
        select  id,
                gmt_create,
                gmt_modified,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from oomall_goods
                where
                name=#{name} and
                is_deleted=0 and status!=0
    </select>
        <select id="adminListGoods" resultMap="GoodsPo">
                select  id,
                gmt_create,
                gmt_modified,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from oomall_goods
                where
                <if test="name!=null">
                        name=#{name} and
                </if>
                <if test="goodsSn!=null">
                        goods_sn=#{goodsSn} and
                </if>
                is_deleted=0
        </select>
        <insert id="addGoods" parameterType="com.example.goods.domain.GoodsPo" useGeneratedKeys="true" keyProperty="id">
                insert into oomall_goods (gmt_create,gmt_modified,name,goods_sn,short_name,description,brief,pic_url,detail,status,share_url,gallery,goods_category_id,brand_id,is_deleted,weight,volume,special_freight_id,is_special,price)
                values (current_timestamp ,current_timestamp,#{name},#{goodsSn},#{shortName},#{description},#{brief},#{picUrl},#{detail},#{statusCode},#{shareUrl},#{gallery},#{goodsCategoryId},#{brandId},0,#{weight},#{volume},#{specialFreightId},#{beSpecial},#{price})
        </insert>
        <update id="updateGoodsById" parameterType="com.example.goods.domain.GoodsPo">
                update oomall_goods
                set gmt_modified=current_timestamp ,
                name=#{name},
                goods_sn=#{goodsSn},
                short_name=#{shortName},
                description=#{description},
                brief=#{brief},
                pic_url=#{picUrl},
                detail=#{detail},
                status=#{statusCode},
                share_url=#{shareUrl},
                gallery=#{gallery},
                goods_category_id=#{goodsCategoryId},
                brand_id=#{brandId},
                weight=#{weight},
                volume=#{volume},
                special_freight_id=#{specialFreightId},
                is_special=#{beSpecial},
                price=#{price}
                where id=#{id}
        </update>
        <update id="deleteGoodsById" parameterType="integer">
                update oomall_goods
                set is_deleted=1
                where id=#{id}
        </update>
        <update id="nullBrandGoodsPoList" parameterType="integer">
                update oomall_goods
                set brand_id=null ,
                    gmt_modified=current_timestamp
                where brand_id=#{id}
        </update>
        <update id="nullCategoryGoodsPoList" parameterType="integer">
                update oomall_goods
                set goods_category_id=null,
                    gmt_modified=current_timestamp
                where goods_category_id=#{id}
        </update>
    <select id="getBrandsInfoById" parameterType="integer" resultMap="GoodsPo">
        select  id,
                gmt_create,
                gmt_modified,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from oomall_goods where brand_id=#{id} and is_deleted=0
    </select>
    <select id="userGetBrandsInfoById" resultMap="GoodsPo">
        select  id,
                gmt_create,
                gmt_modified,
                name,
                goods_sn,
                short_name,
                description,
                brief,
                pic_url,
                detail,
                status,
                share_url,
                gallery,
                goods_category_id,
                brand_id,
                weight,
                volume,
                special_freight_id,
                is_special,
                price
                from oomall_goods where brand_id=#{id} and is_deleted=0 and status!=0
    </select>
</mapper>