<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.goods.mapper.ProductMapper">
    <select id="listProductByGoodsId" parameterType="integer" resultType="com.example.goods.domain.Product">
        select id,
               product_ids,
               pic_url,
               specifications,
               goods_id,
               price,
               safety_stock,
               gmt_create,
               gmt_modified,
               is_deleted
               from product where goods_id=#{id} and is_deleted=0
    </select>
    <insert id="insertProductByGoodsId" parameterType="com.example.goods.domain.Product" useGeneratedKeys="true" keyProperty="id">
          insert into product (product_ids,pic_url,specifications,goods_id,price,safety_stock,gmt_create,gmt_modified,is_deleted)
          values (#{productIds},#{picUrl},#{specifications},#{goodsId},#{price},#{safetyStock},current_timestamp ,current_timestamp ,0)
    </insert>
    <update id="deleteProductById" parameterType="integer">
        update product
        set is_deleted=1
        where id=#{id}
    </update>

</mapper>