<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.goods.mapper.ProductMapper">
    <resultMap  type="com.example.goods.domain.ProductPo" id="ProductPo">
        <id property="id" column="id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="picUrl" column="pic_url"/>
        <result property="specifications" column="specifications"/>
        <result property="price" column="price"/>
        <result property="safetyStock" column="safety_stock"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>
    <select id="listProductByGoodsId" parameterType="integer" resultMap="ProductPo">
        select id,
               pic_url,
               specifications,
               goods_id,
               price,
               safety_stock,
               gmt_create,
               gmt_modified
               from oomall_product where goods_id=#{id} and is_deleted=0
    </select>
    <insert id="addProductByGoodsId" parameterType="com.example.goods.domain.ProductPo" useGeneratedKeys="true" keyProperty="id">
          insert into oomall_product (pic_url,specifications,goods_id,price,safety_stock,gmt_create,gmt_modified,is_deleted)
          values (#{picUrl},#{specifications},#{goodsId},#{price},#{safetyStock},current_timestamp ,current_timestamp ,0)
    </insert>
    <update id="deleteProductById" parameterType="integer">
        update oomall_product
        set is_deleted=1
        where id=#{id}
    </update>
    <select id="getProductById" parameterType="integer" resultMap="ProductPo">
        select id,
               pic_url,
               specifications,
               goods_id,
               price,
               safety_stock,
               gmt_create,
               gmt_modified
               from oomall_product where id=#{id} and is_deleted=0
    </select>
    <update id="updateProductById" parameterType="com.example.goods.domain.ProductPo">
        update oomall_product
        set    pic_url=#{picUrl},
               specifications=#{specifications},
               goods_id=#{goodsId},
               price=#{price},
               safety_stock=#{safetyStock},
               gmt_modified=current_timestamp
               where id=#{id}
    </update>
    <update id="deleteProductsByGoodsId" parameterType="integer">
        update oomall_product
        set is_deleted=1
        where goods_id=#{id};
    </update>
</mapper>